
server {
        
        listen {{ansible_default_ipv4.address}}:{{ item.port }};
       
 
        root /var/www/html/{{ item.webserver }};
        index index.php index.html;
 
        server_name {{ item.server_name }} www.{{ item.server_name }};
 
        location / {
                
        }
}